* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(135deg, #667eea, #764ba2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
}

.title {
  color: white;
  margin-bottom: 12px;
}

/* GAME BOUNDARY */
#gameArea {
  position: relative;
  /* width: 600px;
  height: 400px; */
  background: #f0f0f0;
  border: 1px solid #222;
  box-sizing: border-box;
  border-radius: 12px;
  overflow: hidden;
}


#loader {
  color: white;
  font-size: 22px;
  margin-bottom: 10px;
}
